h1 {
	text-align: center;
	padding: 2rem;
	background-color: yellow;
	color: #f00;
	margin-bottom: 1rem;
}

.ctn {
	text-align: center;
}

.ctn p {
	width: 70%;
	margin: 0 auto;
	padding-bottom: 1rem;
	scroll-behavior: smooth;
}

.ctn hr {
	border-top: 1px solid red;
}

.spinner {
	text-align: center;
	padding: 2rem;
}

.no_movie {
	padding: 2rem;
	color: red;
}

.search-icon {
	padding: 1rem;
  font-weight: bolder;
  z-index: 9999999999;
  bottom: 0;
  right: 0;
  position: fixed;
	margin: 1rem;

}